.body{
	background-image: unset;
	background-color: thistle;
}
.btn{
	background-color:blue;
	color:white;
	border:0px;
	border-radius:10px;
	padding:5px;
	font-family:sans-serif;
	font-size:18px;
}
.btn:hover{
	background-color:purple;
}
.ta{
	background-color:wheat;
	min-width:45vw;
	min-height:200px;
	color:blue;
	border:0px;
	border-radius:10px;
	padding:12px;
	resize:none;
}
.whitesmokeBG{
	display:flex;
	justify-content: space-between;
	background-color: whitesmoke;
	color:balck;
	padding:10px;
	margin-bottom: 0.5%;
}
.darksmokeBG{
	display:flex;
	justify-content: space-between;
	background-color: rgb(59, 59, 59);
	color:white;
	padding:10px;
	margin-bottom: 0.5%;
}
.whiteBG{
	display: flex;
	flex-direction: column;
	background-color: white;
	color:balck;
	padding:10px;
	margin-bottom: 0.5%;
}
.darkBG{
	background-color: rgb(65, 47, 47);
	background-image: unset;
	display: flex;
	padding:10px;
	margin-bottom: 0.5%;
}
.bodyDiv{
	background-color: white;
	padding:10px;
	margin-bottom: 0.5%;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}
.fo{
	font-family:sans-serif;
	color:black;
	font-size: 16px;
}