/*Dark Light Mode*/
#icon{
	width: 30px;
	height: 30px;
	cursor: pointer;
	align-items: center;
}
.dark-theme{
	background-color: #333;
	color: #fff;
}
.body{
	background-image: unset;
	background-color: thistle;
}
.btn{
	background-color:blue;
	color:white;
	border:0px;
	border-radius:10px;
	padding:5px;
	font-family:sans-serif;
	font-size:18px;
}
.btn:hover{
	background-color:purple;
}
.ta{
	background-color:wheat;
	min-width:45vw;
	min-height:200px;
	color:blue;
	border:0px;
	border-radius:10px;
	padding:12px;
	resize:none;
}
.whitesmokeBG{
	display:flex;
	justify-content: space-between;
	background-color: whitesmoke;
	color:black; /*error balck*/
	padding:10px;
	margin-bottom: 0.5%;
}
.darksmokeBG{
	background-color: rgb(59, 59, 59);
	color:white;
	padding:10px;
	margin-bottom: 0.5%;
	display:flex;
	justify-content: space-between;
}
.whiteBG{
	display: flex;
	flex-direction: column;
	background-color: white;
	color:black; /*error balck*/
	padding:10px;
	margin-bottom: 0.5%;
}
.darkBG{
	background-color: rgb(65, 47, 47);
	background-image: unset;
	/*display: flex;*/
	padding:10px;
	margin-bottom: 0.5%;
}
#aside,#main{
	flex-direction: column;
}
.bodyDiv{
	/*background-color: white;*/
	padding:10px;
	margin-bottom: 0.5%;
	display:flex;
	justify-content: space-between;
}
.fo{
	font-family:sans-serif;
	/*color:black;*/
	font-size: 16px;
}
.menuItems{
	background-color:gray;
	color:white;
	cursor:pointer;
}
.menuItems:hover{
	background-color:gray;
	color:yellow;
	cursor:pointer;
}

#menu{
	width:30%;
}

.download{
	background-color:#fcd703;
	color:white;
	border-radius:20px;
	font-family:sans-serif;
	font-size:18px;
	padding:10px;
	margin:11px 11px;
}
